composer.phar
/vendor/
.idea/
psalm.xml
.phpunit.cache/
coverage/
add-actions-map.json
psalm-report.xml

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
